/* Add your own styling as needed */

.create-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-form input,
.create-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.create-form textarea {
  resize: vertical; /* Allow vertical resizing of textarea */
}

.create-form p {
  color: red;
  margin-bottom: 10px;
}

.create-form .submit-form {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-form .submit-form:hover {
  background-color: #45a049;
}

/* Mobile Styles */
@media screen and (max-width: 600px) {
  .create-form {
    padding: 15px;
  }

  .create-form input,
  .create-form textarea {
    padding: 10px;
    margin-bottom: 8px;
  }

  .create-form .submit-form {
    padding: 8px;
  }
}
